<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quackslist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>  <!--for favorite icon-->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/sockets.js"></script>
    <script type="text/javascript" src="/scripts/contact_modal.js"></script>
    <script type="text/javascript" src="/scripts/conversations_modal.js"></script>
    <script type="text/javascript" src="/scripts/conversation_modal.js"></script>
    <script type="text/javascript" src="/scripts/listings.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/registration.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="scripts/filter_slidedown.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Quackslist</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="badge badge-light" id="collapsed-badge"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         <% if(is_admin) { %>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#createListingModal">Create Listing</a>
            </li>
        <% } %>
          <li class="nav-item">
            <a class="nav-link" id="filter" href="#">Filter</a>
          </li>
        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="#" id="navbar__messages-button">
              Messages<span class="badge badge-light"></span>
            </a>
          </li> <li class="nav-item">
            <a class="nav-link" href="/users/logout">Log out</a>
          </li>
          <% } else { %>
          </li> <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#userSignUpModal">Sign Up</a>
          </li>
          <li>
            <a class="nav-link" href="#" data-toggle="modal" data-target="#userLogInModal">Log In</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div id="filter_slidedown">
      <form>
        <div class="form-row justify-content-center">
          <div class="form-group m-2" style="flex-grow: 1;">
            <label for="from_price">Min Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="from_price__inputGroupPrepend">$</span>
              </div>
              <input type="number" step="0.01" name="from_price" class="form-control" id="from_price" placeholder="Enter price">
            </div>
          </div>

          <div class="form-group m-2" style="flex-grow: 1;">
            <label for="validationCustom01">Max Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="to_price__inputGroupPrepend">$</span>
              </div>
              <input type="number" step="0.01" name="to_price" class="form-control" id="to_price" placeholder="Enter price">
            </div>
          </div>
        </div>

        <div class="form-row align-items-center justify-content-center">
          <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="favourites">
            <label class="form-check-label" for="favourites">
              Favourites
            </label>
          </div>
          <% if (is_admin) { %>
            <div class="form-check m-2">
              <input class="form-check-input" type="checkbox" value="" id="my_listings">
              <label class="form-check-label" for="my_listings">
                My listings
              </label>
            </div>
          <% } %>
          <button type="submit" class="btn btn-primary m-2">Filter</button>
        </div>
      </form>
    </div>

    <div id="listings_container" class="container"></div>
    <!-- Container for message modal-->
    <div id="message-modal-container"></div>
    <!-- Container for conversations modal -->
    <div id="conversations-modal-container"></div>

    <!-- Container for conversation-->
    <div id="conversation-modal-container"></div>

    <!-- Create Listing Modal -->
    <div class="modal fade" id="createListingModal" tabindex="-1" role="dialog" aria-labelledby="createListingModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createListingModalTitle">Create Listing</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Modal Form Content -->
            <form id="create-listing-form">
              <div class="form-group">
                <label for="title-input">Title</label>
                <input type="text" name="title" class="form-control" id="title-input" aria-describedby="title-input" placeholder="Enter title" required>
              </div>
              <div class="form-group">
                <label for="description-input">Description</label>
                <textarea name="description" class="form-control" id="description-input" placeholder="Enter description" rows="3"></textarea required>
              </div>
              <div class="form-group">
                <label for="image-input">Image URL</label>
                <input type="url" name="image_url" class="form-control" id="image-input" placeholder="Enter image url" required>
              </div>
              <div class="form-group">
                <label for="price-input">Price</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="create-listing__inputGroupPrepend">$</span>
                  </div>
                  <input type="number" step="0.01" name="price" class="form-control" id="price-input" placeholder="Enter price" required>
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="create-listing-form">Create</button>
          </div>
        </div>
      </div>
    </div>

    <!--- User Sign Up Modal-->
    <div class="modal fade" id="userSignUpModal" tabindex="-1" role="dialog" aria-labelledby="userSignUpModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userSignUpModalTitle">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="registrationError" class="error"></div>
            <!-- Modal Form Content -->
            <form id="registration-form">
              <div class="form-group">
                <label for="firstName-input">First Name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstName-input" required>
              </div>
              <div class="form-group">
                <label for="lastName-input">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="lastName-input" aria-describedby="lastName-input" required>
              </div>
              <div class="form-group">
                <label for="email-input">Email</label>
                <input type="email" name="email" class="form-control" id="email-input" required>
              </div>
              <div class="form-group">
                <label for="phone-input">Phone Number</label>
                <input type="telephone" name="phone" class="form-control" id="phone-input" required>
              </div>
              <div class="form-group">
                <label for="reg-password-input">Password</label>
                <input type="text" name="password" class="form-control" id="reg-password-input" required>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="form-check">
                    <label for="is_admin" class="form-check-label">
                    <input type="checkbox" name="is_admin" class="form-check-input" id="is_admin-input"> Do you wish to create postings? </label>
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="registration-form">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!-- User Log in Modal-->
    <div class="modal fade" id="userLogInModal" tabindex="-1" role="dialog" aria-labelledby="userLoginModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userLogInModalTitle">Log In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="loginError" class="error"></div>
            <!-- Modal Form Content -->
            <form id="login-form">
              <div class="form-group">
                <label for="email-input">Email</label>
                <input type="email" name="email" class="form-control" id="login-email-input" required>
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" name="password" class="form-control" id="password-input" aria-describedby="lastName-input" required>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="login-form">Login</button>
          </div>
        </div>
      </div>
    </div>

    <!--- for bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
