// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#listings_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#filter_slidedown {
  display: none;
}
