// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#listings_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#filter_slidedown {
  display: none;

  >form {
    width: 70%;
    max-width: 40rem;
    margin: auto;
  }
}

span.sold {
  color: red;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;

  p.card-text {
    flex-grow: 1;
  }
}

.msg-alert-btn {
  color: red;
  background-color: transparent;
}
