// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#listings_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#conversations-modal-container {
  .new-msg p {
    font-weight: bold;
  }
}

#filter_slidedown {
  display: none;

  >form {
    width: 70%;
    max-width: 40rem;
    margin: auto;
  }
}

span.sold {
  color: red;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;

  p.card-text {
    flex-grow: 1;
  }
}

.msg-alert-btn {
  color: red;
  background-color: transparent;
}

@keyframes fadeInFromLeft {
  from {
    position: relative;
    opacity: 0;
    left: -10rem;
  }
  to {
    position: relative;
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeInFromRight {
  from {
    position: relative;
    opacity: 0;
    right: -10rem;
  }
  to {
    position: relative;
    right: 0;
    opacity: 1;
  }
}

div.new-msg {
  animation-name: fadeInFromLeft;
  animation-duration: 0.5s;
}

div.new-msg.right {
  animation-name: fadeInFromRight;
}


.error {
  color: red;
  border: 3px solid red;
  margin: 1em;
  padding: 1em;
  text-align: center;
  display: none;

}

#messages-container {
  .msg-container {
    display: flex;
    &.right {
      justify-content: flex-end;
    }

    .alert-heading {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
  }

  .alert {
    width: fit-content;
    max-width: 90%;
    margin-bottom: 0.33rem;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
  }
}
